.login-button {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
    margin-right: 10px;
    color: var(--text-color);
}

.logout-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: var(--primary-color-dark);
}

/* Google 로그인 버튼 스타일 */
.google-btn {
    display: flex;
    align-items: center;
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 1px;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s;
}

.google-btn:hover {
    background-color: #357ae8;
}

.google-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    margin-right: 1px;
}

.google-icon {
    width: 18px;
    height: 18px;
}

.btn-text {
    padding: 10px 10px 10px 0;
    font-size: 14px;
    font-weight: bold;
}